p bing #[strong foo] bong

p bing #[strong fo'o] bong

p bing #[strong fo'ooo'dstuff] bong

p bing #[strong fo"o] bong

p bing #[strong fo"ooo"dstuff] bong

p.
  bing
  #[strong foo]
  bong

p.
  bing
  #[strong fo'o]
  bong

p.
  bing
  #[strong fo"o]
  bong

p
  | bing
  | #[strong foo]
  | bong

p
  | bing
  | #[strong fo'o]
  | bong

p
  | bing
  | #[strong fo'ooo'dstuff]
  | bong

p
  | bing
  | #[strong fo"o]
  | bong
  
p
  | bing
  | #[strong fo"ooo"dstuff]
  | bong

p.
  \#[strong escaped]
